/* Header Container Formatting */
.header {
  display: flex;
  height: 400px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #00ffff;
  background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  padding-top: 1em;
}

/* Display Name Formatting */
.header-username {
  font-size: 2em;
}

/* Header Image Positioning */
.header-profile {
  padding-top: 40px;
}

/* Responsive Design for The Header*/
@media (min-width: 1025px) {
  #layout {
    display: flex;
    flex-direction: row;
  }
  .header {
    margin: 5em;
  }
  .header-username {
    font-size: 1em;
  }
}
