nav {
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color:#FFFFFF;
  display:flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
}

nav span {

  font-weight: 400;
  padding: 1.5em;
  flex-direction: row;
  align-content: center;
}

nav span.rightSide {
  font-family: "Source Sans 3", Sans-Serif;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
}

#titleWord {
  padding: 0px;
  font-weight: 600;
}

.fa-solid {
  color:#FF0000;
}