/* Navigation Bar Container Formatting */
.navbar {
  height: 120px;
  width: 100vw;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
}

/* Application Name As Logo Formatting */
.navbar-logo {
  font-family: "Bungee", Sans-Serif;
}

/* Navigation Bar Menu Options Formatting */
.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-menu i {
  color: #ff0000;
  margin-top: -1em;
}

/* Responsive Design for The  Navigation Bar */
@media (max-width: 1024px) {
  .navbar {
    background-color: #00ffff;
    background-image: url("https://www.transparenttextures.com/patterns/broken-noise.png");
  }
}
