.tweet {
  border-style: solid;
  border-color: #333333;
  border-width: 0.25em;
  padding: 0.5em;
  margin: 1em;
}

.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer p {
  padding: 0em;
  margin: 0em;
}

.tweet footer .icons i {
  margin: 0.25em;
  color: #4056a1;
}

.tweet hr {
  height: 0.25em;
  background-color: #333333;
}

.tweet footer .icons i:hover {
  color: #ffaa00;
}

.greyOut {
  color: #bbbbbb;
}

.tweet:hover {
  box-shadow: 0.25em 0.25em #bbbbbb;
}
